[2019-08-03 19:24] liorko87 opened #5 "Implement _mm_aesenclast_si128"
Hello,

Is there an implementation for `_mm_aesenclast_si128` instruction?
When I'm trying to compile my program, I'm getting this error:
`_mm_aesenclast_si128 was not declared in this scope`

Lior

[2019-08-03 19:38] marktwtn commented on #5
We do not have the `_mm_aesenclast_si128` implementation
since it is in the **AES**`(Advanced Encryption Standard)` instruction set, as shown in the [Intel Intrinsic Guide](https://software.intel.com/sites/landingpage/IntrinsicsGuide/#text=_mm_aesenclast_si128&expand=236).

The repository is mainly for the conversion from **SSE** to **NEON** instruction set.

[2019-11-01 15:49] peardox opened #10 "_MM_TRANSPOSE4_PS"
I'm trying to compile obs-studio on AARCH64 and have used sse2neon to handle all the MMX, SSE + SSE2 stuff

xmmintrin.h has a macro for _MM_TRANSPOSE4_PS right at the end of the file

I'm wondering if it's a recent addition to xmmintrin.h as it's not in sse2neon and is defined in a C source file in obs-studio (in libobs/obs-audio-controls.c)

Removing the call causes obs-studio to compile without

[2019-11-02 00:36] jserv commented on #10
Thanks for trying to integrate `sse2neon` into OBS. I wonder if it works after macro [_MM_TRANSPOSE4_PS](https://software.intel.com/sites/landingpage/IntrinsicsGuide/#text=_MM_TRANSPOSE4_PS) is added.

[2019-11-02 04:36] peardox commented on #10
In theory it should work. I've put it on both my Jetson Nano and Pi4.

Pi4 is a no-go ATM as OBS requires OpenGL 3.2. Looking at OpenGL on Pi4 64bit hopefully.

Nano gets further but won't launch properly yet, at least that's got OpenGL 3.2.

[2019-11-07 02:24] marktwtn opened #12 "Fix the unit test of lower single-precision floating-point comparison command"
There are four instructions which cause the unit test fail.
- _mm_comilt_ss
- _mm_comile_ss
- _mm_comieq_ss
- _mm_comineq_ss

Base on the comment, I doubt that the failure happens when one of the operand is `NaN`.
[Comment](https://github.com/DLTcollab/sse2neon/blob/master/sse2neon.h#L2189):
[code]
[Comment](https://github.com/DLTcollab/sse2neon/blob/master/tests/impl.cpp#L1366):
[code]

However,

[2019-11-11 03:00] marktwtn commented on #12
As I was searching for the correct returned value, I found out there are four possible comparison result.

- Unordered
- Greater than
- Less than
- Equal

Unordered happens when at least one of the operand is `NaN`.

And take `_mm_comilt_ss` as an example,
some webpages and documents describe it as
[code]

[2019-11-12 02:12] jserv commented on #12
How about checking [Intel Intrinsics Guide](https://software.intel.com/sites/landingpage/IntrinsicsGuide/) and validate the descriptions of each instruction?

[2019-11-12 03:03] marktwtn commented on #12
**Unordered** in floating-point comparison means that at least one of the operand is `NaN`.

Let's take `_mm_comilt_ss` as an example again.
`_mm_comilt_ss` intrinsic function would use the instruction `COMISS`.

In the page 298 of [Intel Instruction Set Reference](https://software.intel.com/sites/default/files/managed/a4/60/325383-sdm-vol-2abcd.pdf), the description of `COMISS` says:
[code]

Henc

[2019-11-15 01:40] #12 closed

[2020-01-11 09:43] huangtianhua opened #15 "sse2neon.h:2655:22: error: argument to '__builtin_neon_vextq_v' must be a constant integer"
I build apache/impala on aarch64, I download the file https://github.com/DLTcollab/sse2neon/blob/master/sse2neon.h under impala directory, and include it in some other files, an error raised:

/home/jenkins/workspace/impala/be/src/util/sse2neon.h:2655:22: error: argument to
      '__builtin_neon_vextq_v' must be a constant integer
    return (__m128i) vextq_s8((int8x16_t) a, (int8x16_t) b, c);

[2020-01-11 09:44] huangtianhua commented on #15
Or this project is only work for intel arm64 server?

[2020-01-11 10:47] jserv commented on #15
It seems that you are using clang/llvm. Can you show the instructions to reproduce?

[2020-01-13 09:13] huangtianhua commented on #15
@jserv Thanks for replying. I am trying to build/test apache/impala on aarch64, there are some modifications, I executed "./buildall.sh" under impala root directly and above error raised, and I have no idea to fix it. So what did you mean 'the instructions to reproduce'?

[2020-01-13 14:46] jserv commented on #15
I think it would be great if sse2neon can collaborate with [Apache Impala](https://impala.apache.org/) contributors. However, @marktwtn and I need to know how to reproduce the problem. @huangtianhua, can you write down something about the build configurations, toolchain, etc.?

[2020-01-13 14:48] jserv commented on #10
Any further progress?

[2020-01-13 15:13] jserv commented on #15
We verified sse2neon on both Aarch64 and ARMv7-A targets. According to the above compilation errors, I guess the lacking of proper compiler options which enforce Arm specific assignments.

[2020-01-14 09:53] huangtianhua commented on #15
@jserv I followed suggestion of Impala pmc huangquanlong to build native-toolchain first, and I have merged some patches to native-toolchain: https://gerrit.cloudera.org/#/q/owner:huangtianhua223%2540gmail.com  after above patches, the native-toolchain built success and now I am building impala, the building uses gcc which built in native-toolchain, I modified some compiler options in these patche

[2020-02-04 11:32] marktwtn opened #18 "Add performance measurement of each intrinsic function"
The conversion of intrinsic function may be rewritten sometimes.
A performance measurement result is good for checking whether the rewritten conversion behaves better or not.

[2020-03-13 06:13] #15 closed

[2020-03-16 11:37] marktwtn opened #20 "Implement the rest of the shift intrinsic functions"
The following shift intrinsic functions are not implemented yet.
- _mm_sll_epi*
- _mm_srl_epi*
- _mm_sra_epi*
- _mm_sllv_epi*
- _mm_srlv_epi*
- _mm_srav_epi*

However, the related shift intrinsic functions of **x86** and **ARM** have different behaviour when the shift value is too large .
Please check the discussion in https://github.com/DLTcollab/sse2neon/pull/17#discussion_r374810457.

[2020-04-16 19:19] jserv opened #26 "Implement _mm_popcnt_u32/_mm_popcnt_u64"
`_mm_popcnt_u64` was introduced in Intel SSE 4.2. GCC extension `__builtin_popcountll` is portable to non-SSE-4.2 CPUs. We can implement the two instructions as following:

[code]

Alternative implementation:
[code]

[2020-06-08 02:13] fatihinanc opened #34 "Implement _mm_minpos_epu16"
Is it possible to implement **_mm_minpos_epu16** intrinisic ?

It was introduced in SSE4.1. Detailed explanation In the link below.
https://software.intel.com/sites/landingpage/IntrinsicsGuide/#text=_mm_minpos_epu16&expand=3789

[2020-06-08 05:48] jserv commented on #34
[lib/mmseqs/lib/simd/simd.h](https://github.com/martin-steinegger/conterminator/blob/master/lib/mmseqs/lib/simd/simd.h) might be a good reference.

[code]

[2020-06-08 09:59] hjw21century opened #35 "Implement _mm_load_sd"
`_mm_load_ss` has beed implemented, what about the  `_mm_load_sd`?

Synopsis
[code]

Instruction: movsd xmm, m64
CPUID Flags: SSE2
Description

Operation

[2020-06-15 03:47] marktwtn commented on #34
The steps would look like this:
1. Use **vminvq_**(A64) or **vmin_** + **vpmin_**(A32/A64) to find the minimum value.
2. Find the element index of the minimum value.
3.  Assign the minimum value and index with **vset_lane_**.

However, I do not find an efficient way to implement the step 2.

[2020-06-18 20:25] #34 closed

[2020-06-21 11:15] jserv commented on #35
Possible implementation for `_mm_load_sd`:
[code]

[2020-06-21 15:43] marktwtn commented on #35
I have already worked on this issue.
I just need more time to handle the `__m128d` data type.

[2020-06-21 16:52] #26 closed

[2020-06-22 06:26] #35 closed

[2020-06-26 08:00] #10 closed

[2020-06-26 16:28] jserv opened #47 "Improve _mm_popcnt_*"
Quote from [Jukka Liimatta](https://twitter.com/JukkaLiimatta)

[2020-06-26 16:29] jserv opened #48 "Fix _mm_cmpeq_epi64"
Quote from Jukka Liimatta

Source: https://twitter.com/JukkaLiimatta/status/1276539769619714051

[2020-06-27 14:49] jserv opened #51 "Shorten CI pipeline"
The current build matrix consists of two architectures (Arm64/AMD64) and two compilers (clang/gcc). However, it takes much longer time to set up rather than doing the real verification. The brief idea to shorten CI pipeline would be:
1. AMD64+clang: Install clang packages from `bionic-updates`
2. AMD64+gcc: Install gcc packages from `ppa:ubuntu-toolchain-r/test`
3. Arm64+gcc: Install gcc packages

[2020-07-03 05:16] marktwtn commented on #48
Our `_mm_comeq_epi64` of the ARM 32-bit implementation does not have the problem.
The result is taken care well.

[2020-07-04 01:17] marktwtn commented on #48
@jserv shall we close this issue?

[2020-07-04 03:19] #48 closed

[2020-07-05 18:21] syoyo opened #57 "Correct _mm_min_ps, _mm_max_ps implementation"
_mm_min_ps and _mm_max_ps cannot be accurately emulated with single vminq_f32/vmaxq_f32(and also vminnmq_f32 and vmaxnmq_f32) instruction.

We need special handling when both inputs are zeros and either input is NaN.

https://tavianator.com/fast-branchless-raybounding-box-intersections-part-2-nans/
https://www.felixcloutier.com/x86/minps

Here is an implementation of vmin/vmax which emulates _mm_m

[2020-07-05 23:17] jserv commented on #57
Thank @syoyo for figuring out the accurate implementation. Can you send pull request as well?

[2020-07-06 05:31] syoyo commented on #57
@jserv It requires some more tests to verify the implementation(You can also write tests). After the verification, I'm planning to send a PR.

[2020-07-06 08:23] marktwtn opened #58 "Unify validation functions in test suite"
The parameter order of the validation functions is not unified.
Some of them are using the reverse order.

Besides, the function naming should be consistent as well.

[2020-07-08 14:23] #58 closed

[2020-07-12 13:36] jserv opened #66 "Missing intrinsics required for building Cycles"
[Cycles](https://docs.blender.org/manual/en/latest/render/cycles/introduction.html) is Blender's physically-based path tracer for production rendering. Recently, Apple Inc. sent Aarch64 patch to Blender developer as shown on [D8237: Cycles: support neon instructions for arm64 processors](https://developer.blender.org/D8237). However, file `intern/cycles/util/util_sse_to_neon.h` provided by  [D8237

[2020-07-15 05:52] jserv opened #70 "Missing _mm_{load,loadu,store,storeu}_pd"
The suffix `pd` means the vectors contains doubles (pd stands for packed double-precision). The following intrinsics are missing:
* `_mm_load_pd`
* `_mm_loadu_pd`
* `_mm_store_pd`
* `_mm_store_pd`

For A64, the `_mm_load_pd` and `_mm_storeu_pd` can be implemented as following:
[code]

[2020-07-15 08:12] jserv opened #72 "Auto-generated integrated test suite"
Once #69 is fully integrated, we can think of the generation of test suite. The rough flow:
1. Developers provide a comprehensive list of intrinsics;
2. Scripts generate the stub/skeleton for test cases;
3. Developers provide the real test entries such as `test_mm_set1_ps` and parameter list (e.g. `test_mm_set1_ps(mTestFloats[i])`);
4. Automated test system can scan and analyze the status of each

[2020-07-16 11:09] marktwtn commented on #70
Take `_mm_load[u]_pd` as an example, I might use `vld1q_f32` to do the implementation and then cast it to the corresponding data type of `__m128d`(which is `float32x4_t`) in **A32**.

[2020-07-16 13:34] abique opened #76 "Missing _mm_cvt_ss2si"
Hi the following instruction is missing: _mm_cvt_ss2si

https://software.intel.com/sites/landingpage/IntrinsicsGuide/#expand=4979,3330,3863,4979,5197,3853,3330,3863,5197,3407,3863,5610,1382&text=_mm_cvt_ss2si

Thanks,
Alex

[2020-07-17 07:37] abique opened #79 "Missing _mm_movehdup_ps"

[2020-07-19 06:37] jserv commented on #5
Reopen since `sse2neon` project is emulating x86 AES Intrinsics on A32/A64.

[2020-07-19 07:36] jserv commented on #5
`_mm_aesenclast_si128` can be implemented via crypto extension for A64:
[code]

[2020-07-21 04:12] #70 closed

[2020-07-21 04:16] jserv opened #81 "Missing A32 implementations for _mm_store_pd, _mm_storeu_pd, _mm_cvtpd_ps, _mm_cvtps_pd, _mm_castpd_si128"
The following intrinsics have Aarch64 implementations without A32:
* `_mm_store_pd`
* `_mm_storeu_pd`
* `_mm_cvtpd_ps`
* `_mm_cvtps_pd`
* `_mm_castpd_si128`

We expect to provide corresponding A32 implementations as well.

[2020-07-21 04:59] JishinMaster commented on #66
I was waiting for my first pull request to be accepted, but I have almost all of those functions ready :)
I will try to get my pull request ready by tomorrow!

[2020-07-21 09:34] jserv opened #82 "Strategy on non-SSE intrinsics"
`sse2neon` aims to support SSE, SSE2, SSE3, SSSE3, SSE4.1, SSE4.2 and AES extension, and AVX intrinsics would be excluded. Later, we might collaborate with [AvxToNeon](https://github.com/kunpengcompute/AvxToNeon) as the fundamental support on SSE.

@danlark1 pointed out:

We do need to think of the strategy on non-SSE intrinsics to ease the platform transition efforts.

[2020-07-25 09:27] jserv commented on #72
[biu-cybercenter-proj-sse2neon](https://github.com/rons1404/biu-cybercenter-proj-sse2neon) contains a partially modular test suite with templates.

[2020-07-25 10:01] jserv commented on #76
For A64, this intrinsics can be implemented as following:
[code]

[2020-07-25 10:13] jserv commented on #79
`_mm_movehdup_ps` can be implemented as following:
[code]

[2020-07-25 15:30] abique commented on #79
Thank you!

[2020-07-25 16:46] marktwtn commented on #76
Doesn't `vcvtnq_s32_f32` support on both A32 and A64?

[2020-07-25 17:13] jserv commented on #76
I encountered a weird problem with `arm-linux-gnueabihf-gcc` (version 7.5.0):
[code]

[2020-07-25 18:50] marktwtn commented on #76
I guess the [document of `vcvtnq_s32_f32`](https://developer.arm.com/architectures/instruction-sets/simd-isas/neon/intrinsics?search=vcvtnq_s32_f32) is wrong.

Therefore, the A32 implementation would be `vget_low_f32` + `vcvtn_s32_f32`.

[2020-07-25 19:24] #79 closed

[2020-07-26 17:47] #5 closed

[2020-07-27 14:07] jserv opened #91 "__m128d for A32 might not behave as same as A64"
I was implementing [_mm_dp_pd](https://software.intel.com/sites/landingpage/IntrinsicsGuide/#text=_mm_dp_pd) as following:
[code]

The code works for A64 while it misbehaves on A32 since `__m128d` is defined as `float32x4_t`. The array subscripting would result in different data width.

We should have consistent type definition for `__m128d`.

[2020-07-28 01:43] jserv opened #93 "Tidy reference hyperlinks"
The project has several reference hyperlinks to Microsoft website. Due to [Microsoft Product Lifecycle](https://support.microsoft.com/en-us/lifecycle/selectindex), however, the content of MSDN is no longer updated regularly. We shall migrate to [Intel Intrinsics Guide](https://software.intel.com/sites/landingpage/IntrinsicsGuide/). For example, change the URL from [https://msdn.microsoft.com/en-us

[2020-07-28 02:11] #57 closed

[2020-07-28 02:15] marktwtn opened #94 "Pass NaN value for accurate testing of _mm_min_ps and _mm_max_ps"
Discussion: https://github.com/DLTcollab/sse2neon/pull/65#issuecomment-663985532

The current test suite does not include the testing of NaN value for intrinsics `_mm_min_ps` and `_mm_max_ps`.
The test suite should be modified to fit the request.

The corresponding behaviour of NaN value can be referenced from https://github.com/DLTcollab/sse2neon/issues/57.

[2020-07-28 08:35] jserv opened #97 "Missing "_mm_cmple_epi32" and "_mm_cmpge_epi32""
Intrinsics "_mm_cmple_epi32" and "_mm_cmpge_epi32" are missing at the moment.

[2020-07-28 14:01] afcidk commented on #97
It seems that Intel does not provide these two intrinsics

[2020-07-28 14:04] jserv commented on #97
My bad. It was duplicated in #66.

[2020-07-28 14:04] #97 closed

[2020-07-28 14:11] jserv commented on #91
By the way, intrinsic [_mm_castps_pd](https://software.intel.com/sites/landingpage/IntrinsicsGuide/#text=_mm_castps_pd) would cast vector of type `__m128` to type `__m128d`. I am not sure if we can have consistent implementation for both A64 and A32.

[2020-07-28 14:13] jserv commented on #66
Only one instruction is missing for building Cycles. That is `_mm_castps_pd` as described in #91.

[2020-07-28 16:50] JishinMaster commented on #91
Couldn't we use a full C implementation for A32?
Using structures such as "typedef double[2] float64x2_t"

We would then have something like
`__m128d _mm_castps_pd(__m128 a){
float* v = (float*)&a;
__m128d ret = {(double)a[0], (double)a[1]);
return ret;`

[2020-07-30 10:22] jserv commented on #91
SSE Intrinsic [_mm_xor_pd](https://software.intel.com/sites/landingpage/IntrinsicsGuide/#text=_mm_xor_pd) can be mapped to NEON intrinsic `veorq_s32`. However, we lack of `__m128d`-friendly conversion macros.

[2020-08-03 02:07] marktwtn commented on #91
We can not have consistent definition for `__m128d` since A32 does not contain the date type of `float64x2_t`.
It is pretty annoying. The previous design is to write A32 and A64 implementation of the functions related to `__m128d`.

[2020-08-10 10:12] marktwtn commented on #76
I could not find any suitable command under the `A32` architecture.

- vcvtnq_s32_f32
- vcvtn_s32_f32
- vcvtns_s32_f32

The intrinsics above only exist in `A64` architecture.

Shall we use the normal C type casting?

[2020-08-10 10:16] jserv commented on #76
I agree with the way to take C-style casting for A32 and provide A64 shortcut.

[2020-08-11 02:53] afcidk commented on #72
@jserv, I'm now working on this issue. After the discussion with @marktwtn, we decided to keep the tests cases in  `impl.cpp`.

In #100, I've unified `enum` and `getInstructionString` using macros.
However, it seems that we could not further merge [runSingleTest](https://github.com/DLTcollab/sse2neon/blob/8ff6315f90c9f733a5f4a3b11793e8e106485c2b/tests/impl.cpp#L3530) into them (the `enum` and `get

[2020-08-11 04:17] marktwtn commented on #76
IEEE 754 has 5 rounding rules, which are

- Round to nearest, ties to even
- Round to nearest, ties away from zero
- Round toward 0
- Round toward +∞
- Round toward -∞

Reference: https://en.wikipedia.org/wiki/IEEE_754#Rounding_rules

However, in [_mm_cvt_ss2si](https://software.intel.com/sites/landingpage/IntrinsicsGuide/#text=cvt_ss2si) it does not clarify which rule it is using.
Hence, I think

[2020-08-11 09:21] jserv commented on #72
In this way, contributors are be expected to add test functions more easily with less modification to other parts of `impl.cpp`.

Good idea. Can you show the proposed changes?

[2020-08-11 15:26] afcidk commented on #72
The original `runSingleTest` function looks like this
[code]

If we make the parameters of the test functions the same, we can use macro to expand that long switch-case statement.

I'll explain the macros (integrating `enum`, `getInstructionString` and `runSingleTest`) below.

[code]

The `enum` is defined as
[code]

The `instructionString` is defined as
[code]

The `runSingleTest` is defined as
[

[2020-08-11 15:39] jserv commented on #72
How about eliminating capital identifiers such as `MM_SETZERO_SI128`? Thus, we can use `#` and/or `##` to simplify macros.

[2020-08-11 16:53] afcidk commented on #72
Then the enum names would be `it_mm_setzero_si128` instead.

[2020-08-12 01:45] marktwtn commented on #76
@jserv what do you think?
If it is acceptable, I will send a pull request for it.

[2020-08-12 02:05] jserv commented on #76
Go ahead, please.

[2020-08-21 12:41] jserv opened #105 "Allow specifying rounding mode"
While developing [iqtree_arm_neon](https://github.com/joshlvmh/iqtree_arm_neon), @joshlvmh [found](https://github.com/joshlvmh/iqtree_arm_neon/blob/master/work_log.md):
* denormalized numbers are flushed to zero
* only default NaNs are supported
* the Round to Nearest rounding mode is selected
* un-trapped exception handling selected for all floating-point exceptions.

`_mm_setcsr` should be suppo

[2020-08-26 13:16] marktwtn commented on #91
In A32, I think we can still define __m128d as `float32x4_t`.

However, the conversion would be implemented with C by handling two `double`.
The `double` data extracting would be done by doing the pointer casting from `float32x4_t *` to `double *`.

[2020-08-31 06:26] #91 closed

[2020-08-31 13:48] HowJMay opened #131 "Refactor macro to inline function"
Some implementations are macros instead of inline functions (e.g. [_mm_slli_epi32](https://github.com/DLTcollab/sse2neon/blob/master/sse2neon.h#L1678)). Should we refactor them into inline functions for consistency?

[2020-08-31 13:49] HowJMay commented on #131
@jserv @marktwtn how are your opinions?

[2020-08-31 14:02] jserv commented on #131
According to [Intel Intrinsic Guide](https://software.intel.com/sites/landingpage/IntrinsicsGuide/#text=_mm_slli_epi16), the last parameter of `_mm_slli_epi16` is `imm8`, which can not be a variable. You can only pass Numeric  constants for such immediate values. That is why we implement these intrinsics in macro instead of inline functions.

[2020-09-01 08:01] #81 closed

[2020-09-01 09:46] jserv commented on #131
Let's close this issue. It can be reopen when we get new ideas.

[2020-09-01 09:46] #131 closed

[2020-09-01 09:53] jserv opened #137 "Missing _mm_movpi64_epi64 and _mm_movepi64_pi64"
Both are part of SSE2.

`_mm_movpi64_epi64` would copy the 64-bit integer a to the lower element of dst, and zero the upper element.
[code]
Reference NEON implementation:
[code]

`_mm_movepi64_pi64` would copy the lower 64-bit integer in a to dst.
[code]
Reference NEON implementation:
[code]

[2020-09-01 10:01] jserv opened #138 "Missing _mm_movemask_pi8"
`_mm_movemask_pi8` would create mask from the most significant bit of each 8-bit element in a, and store the result in dst.
Reference A64 implementation:
[code]

[2020-09-01 10:07] jserv opened #139 "Missing _mm_sad_pu8"
`_mm_sad_pu8` would compute the absolute differences of packed unsigned 8-bit integers in a and b, then horizontally sum each consecutive 8 differences to produce four unsigned 16-bit integers, and pack these unsigned 16-bit integers in the low 16 bits of dst.

Reference NEON implementation:
[code]

[2020-09-01 10:22] jserv opened #140 "Missing _mm_mulhi_pu16"
`_mm_mulhi_pu16` would multiply the packed unsigned 16-bit integers in a and b, producing intermediate 32-bit integers, and store the high 16 bits of the intermediate integers in dst.

Reference NEON imeplementation:
[code]

[2020-09-01 10:28] jserv opened #141 "Missing _mm_movemask_pd"
`_mm_movemask_pd` would set each bit of mask dst based on the most significant bit of the corresponding packed double-precision (64-bit) floating-point element in a.

Reference A64 implementation:
[code]

[2020-09-06 12:22] #140 closed

[2020-09-06 12:25] #139 closed

[2020-09-10 13:45] #66 closed

[2020-09-11 02:13] jserv opened #149 "A64 tweak and test case for _mm_sign_epi8"
Intrinsic `_mm_sign_epi8` can be tweaked for A64. Proposed change:
[code]

In the meantime, we lack of `_mm_sign_epi8` test case.

[2020-09-11 02:33] jserv opened #150 "A64 fastpath and test case for _mm_hadds_epi16"
Intrinsic `_mm_hadds_epi16` can be implemented via A64 instructions. The proposed change:
[code]

Meanwhile, we lack of `_mm_hadds_epi16` test case.

[2020-09-14 08:21] HowJMay commented on #150
closed by #152

[2020-09-14 08:21] #150 closed

[2020-10-08 03:02] diybl opened #157 "Missing _MM_GET_ROUNDING_MODE _MM_ROUND_TOWARD_ZERO"

[2020-10-09 11:52] #149 closed

[2020-10-10 15:00] HowJMay opened #160 "Introduce macro 'likely' and 'unlikely' for branch prediction instructions"
As mentioned in https://github.com/DLTcollab/sse2neon/pull/130#discussion_r502794219
We can introduce macro `likely` and `unlikely` for adding instruction that make branch prediction prefer for the if condition with `likely` macro.

### reference
https://stackoverflow.com/questions/109710/how-do-the-likely-unlikely-macros-in-the-linux-kernel-work-and-what-is-their-ben

[2020-10-22 02:17] jserv opened #188 "Implement missing intrinsics required by IQ-TREE"
While transiting from SSE intrinsics used by [IQ-TREE](http://www.iqtree.org/) to Arm NEON, @joshlvmh extended SSE2NEON with additional intrinsics. See https://github.com/joshlvmh/iqtree_arm_neon/blob/7bc67d3449428b0b683fb7359c8945da218f5775/IQ-TREE/sse2neon.h#L4136

It would be great if we can rework these changes back to SSE2NEON.

[2020-10-22 10:58] joshlvmh commented on #188
Thanks for this, I am happy to help with the reworking into SSE2NEON if needed. I did also extend the SSE2NEON test bench, located here: https://github.com/joshlvmh/iqtree_arm_neon/tree/7bc67d3449428b0b683fb7359c8945da218f5775/iq_tree_tests/sse2neon
Please use any of this if you need.

[2020-10-26 03:05] marktwtn commented on #137
Close with #190.

[2020-10-26 03:05] #137 closed

[2020-10-28 04:11] marktwtn commented on #20
The `_mm_sllv_epi*`, `_mm_srlv_epi*` and `_mm_srav_epi*` are not included in `SSE`.
Hence, we should ignore them.

After I implement the lacking tests of `_mm_sll_epi*`, `_mm_srl_epi*` and `_mm_sra_epi*`, the issue should be closed.

[2020-10-30 20:28] jacksonrnewhouse opened #219 "_mm_movemask_epi8 regression"
The aarch64 code path for _mm_movemask_epi8 introduced in #50 looks to be a regression when you actually compile it. The default behavior compiles to 7 instructions with no constants, while the "fast path" is 14 instructions plus a constant. Should it be reverted?

fast path: https://godbolt.org/z/41s54d
default: https://godbolt.org/z/xsYfz8

[2020-10-31 04:51] #20 closed

[2020-11-28 03:06] wangxiao1254 opened #229 "improve _mm_set_epi64x"
Thanks for providing such a great tool!

The current implementation of `_mm_set_epi64x` uses an array. It might be better to use `vcombine_u64` when it is available?

[2020-11-28 03:16] jserv commented on #229
Did you mean the following code snip?
[code]

I am not sure if the later would be faster or not.

[2020-11-28 03:23] wangxiao1254 commented on #229
That's what I meant.

[2020-11-28 21:45] jserv commented on #229
We might evaluate both `_mm_set_epi64x` and `_mm_set_epi64` as well.

[2020-12-03 07:41] marktwtn commented on #219
I'll make a simple time experiment of `_mm_movemask_epi8`.

[2020-12-03 20:56] wangxiao1254 opened #233 "2 Tests fail on M1 chip"
Two of the tests fail on apple M1 chip. `mm_hadds_epi16` and `mm_hsubs_epi16`. Seems to be fine on CI. I'm happy to provide more debugging information if needed.
[make_check.txt](https://github.com/DLTcollab/sse2neon/files/5638877/make_check.txt)

[2020-12-03 21:34] jserv commented on #233
Thank @wangxiao1254 for reporting! To reduce the scope for trouble shooting, can you help the following experiments?
1. Change line 3735 in `sse2neon.h` from `#if defined(__aarch64__)` to `#if 0`
2. Change line 3758 in `sse2neon.h` from `#if defined(__aarch64__)` to `#if 0`

I would like to check if the Aarch64 fastpath affected or not.

[2020-12-03 21:59] wangxiao1254 commented on #233
Seems that the slow path is also reporting failed.

[git_diff.txt](https://github.com/DLTcollab/sse2neon/files/5639149/git_diff.txt)
[make_check.txt](https://github.com/DLTcollab/sse2neon/files/5639150/make_check.txt)

[2020-12-30 06:50] marktwtn opened #252 "CI:"

[2020-12-30 07:11] marktwtn opened #253 "CI: Migrate from Travis CI to Github Actions"
Travis CI introduced the new pricing structure that each running test would consume the credits until it is empty.
Since we have run out of the credits, we decide to move to another CI system, which is Github Actions.

The CI should include running the test of different platforms and compilers
Platform:
- x86
- arm

Compiler:
- GCC
- Clang

And it should check the coding convention as well.

[2020-12-31 08:47] marktwtn commented on #253
To use non-x86 CPU architecture, the extra project should be used.
https://github.com/uraimo/run-on-arch-action
The YAML rule is a little different from the ordinary rule of Github Actions.
Please check the README carefully.

[2020-12-31 11:11] #253 closed

[2021-01-08 13:30] HowJMay opened #267 "Generate intrinsics coverage report"
As mentioned in https://github.com/DLTcollab/sse2neon/pull/263#issuecomment-755365873, we are going to generate intrinsics coverage reports with the result of CI.

The report can be appended [here](https://github.com/DLTcollab/sse2neon/blob/master/tests/main.cpp#L28)

[2021-01-17 08:18] HowJMay commented on #267
close by ##270

[2021-01-17 08:18] #267 closed

[2021-01-18 06:47] marktwtn commented on #51
We had moved the CI from `Travis CI` to `Github Actions`.
@jserv shall we close this issue?

[2021-01-18 08:43] marktwtn commented on #219
I do the experiment on the `ARMv8-A` CPU, which is an ARM 64-bit architecture.

![graph](https://user-images.githubusercontent.com/6748200/104891699-42821380-59ac-11eb-87fc-7f190f26358d.png)

It turns out that the aarch64 code path does behave worse.
We should revert it for performance consideration.

[2021-01-18 10:18] marktwtn commented on #229
I have done the experiment of `_mm_set_epi64x` on `ARMv8-A` CPU.

![graph](https://user-images.githubusercontent.com/6748200/104901657-a3174d80-59b8-11eb-84d6-cb899a351b1d.png)

It turns out that the performance of using array is slightly worse than using `vcreate()` sometimes.
I will do another experiment of `_mm_set_epi64` and send a pull request.

[2021-01-20 03:09] marktwtn commented on #229
The assembly code comparison of the `_mm_set_epi64x`: https://godbolt.org/z/KP9Ga4

The one with `vcreate()` uses 3 assembly instructions, while the other one with array uses 5 assembly instructions.

[2021-01-20 20:45] wangxiao1254 commented on #229
Does efficiency matter in O0 :)

[2021-01-21 06:52] marktwtn commented on #229
I also did the experiment with optimization level 3.

![graph](https://user-images.githubusercontent.com/6748200/105302695-5325ca00-5bf6-11eb-99bc-50bbfb0a11e7.png)

The performance does not have too much difference.
However, consider of the performance on optimization level 0, we can still take the modification.

[2021-01-21 07:17] marktwtn commented on #219
The performance of optimization level 3 is measured as well.

![graph](https://user-images.githubusercontent.com/6748200/105315980-2b853080-5bfb-11eb-9abb-1a53e36d4c80.png)

The performance does not have too much difference.
@jserv I think we need to decide which optimization level we should focus on for the future performance improvement.

[2021-01-24 13:09] #219 closed

[2021-01-28 08:41] #229 closed

[2021-02-07 05:25] jserv commented on #252
No visible descriptions.

[2021-02-07 05:25] #252 closed

[2021-02-07 05:27] jserv commented on #160
Close via commit 300dc7ee45e9d6c76080d6c029d28dd8a802dff1

[2021-02-07 05:27] #160 closed

[2021-02-07 11:27] marktwtn commented on #252
Sorry, this is a issue opened by me accidientally.

[2021-02-10 00:19] eximpression opened #301 "Missing _mm_cvtss_sd, _mm_shuffle_pd, _mm_cmplt_pd, _mm_unpacklo_pd"
_mm_cvtss_sd
_mm_shuffle_pd
_mm_cmplt_pd
_mm_unpacklo_pd
Please~

[2021-02-12 03:19] jserv commented on #301
Both `_mm_unpacklo_pd` and `_mm_cvtss_sd` were implemented.

[2021-02-12 03:20] jserv commented on #157
Implemented in commit b22e2a0c699a89b057b96a807488a4ad95bd08ce.

[2021-02-12 03:20] #157 closed

[2021-02-12 03:35] #105 closed

[2021-02-12 12:51] #51 closed

[2021-02-12 16:08] jserv commented on #233
It is weird that option `-mfpu=neon` was passed to g++. For Apple M1, it is definitely Aarch64 architecture rather than ARMv7-A. I thought there must be something wrong. Can you check `Makefile` for architecture detection (`uname -m`)?

[2021-02-13 02:13] jserv commented on #233
@wangxiao1254, can you try with the latest master branch?

[2021-02-13 09:26] jserv opened #308 "Implement SSE4.2 text processing intrinsics"
[Apache Impala](https://impala.apache.org/) adopts SSE2NEON along with partial SSE4.2 text processing intrinsics support in file [be/src/util/sse-util.h](https://github.com/apache/impala/blob/master/be/src/util/sse-util.h):
* cmpestrm
* cmpestri

However, the above were neither optimized nor generic. Instead, we can provide the full-functioned instrinsics in SSE2NEON.

[2021-02-13 19:13] wangxiao1254 commented on #233
uname -m is actually arm64 I had to modify MakeFile otherwise it shows unsupported.
[make_check.txt](https://github.com/DLTcollab/sse2neon/files/5976290/make_check.txt)

[2021-02-14 02:07] jserv commented on #233
I just modify `Makefile` to reflect Apple M1. Here are the failing intrinsics:
* `mm_srai_epi32`
* `mm_srli_epi16`
* `mm_srli_epi32`
* `mm_srli_epi64`
* `mm_hadds_epi16`
* `mm_hsubs_epi16`

[2021-02-17 16:27] jserv commented on #188
Unimplemented intrinsics:
* `_mm_max_pd`
* `_mm_min_pd`
* `_mm_round_pd`
* `_mm_insert_ps`
* `_mm_sqrt_pd`
* `_mm_cmple_pd`
* `_mm_cmplt_pd`
* `_mm_cmpneq_pd`
* `_mm_hadd_pd`
* `_mm_store_sd`
* `_mm_cvttpd_epi32`
* `_mm_cvtpd_epi32`
* `_mm_cvtepi32_pd`
* `_mm_getcsr`
* `_mm_storel_pd`

[2021-02-25 06:40] marktwtn commented on #301
_mm_cvtss_sd https://github.com/DLTcollab/sse2neon/pull/304
_mm_shuffle_pd https://github.com/DLTcollab/sse2neon/pull/307
_mm_cmplt_pd https://github.com/DLTcollab/sse2neon/pull/309
_mm_unpacklo_pd https://github.com/DLTcollab/sse2neon/pull/305

The issue can be closed.

[2021-02-25 06:40] #301 closed

[2021-02-26 14:05] #138 closed

[2021-03-15 01:26] marktwtn commented on #141
Close with #325 .

[2021-03-15 01:26] #141 closed

[2021-03-17 09:54] marktwtn commented on #233
I believe that the failing intrinsics `_mm_hadds_epi16` and `_mm_hsubs_epi16` might be caused by the test.
I forgot to check the minimum in `_mm_hadds_epi16` and maximum in `_mm_hsubs_epi16`.

[2021-03-20 11:44] jserv commented on #233
@wangxiao1254, please get the latest `master` branch and test with Apple M1.

[2021-03-20 18:21] wangxiao1254 commented on #233
Here is the result. Seems that there are only 4 fails now:
Test mm_srai_epi32 failed
Test mm_srli_epi16 failed
Test mm_srli_epi32 failed
Test mm_srli_epi64 failed

[make_check.txt](https://github.com/DLTcollab/sse2neon/files/6176154/make_check.txt)

[2021-04-13 17:03] Xottab-DUTY opened #384 "MSVC support"
MSVC support will be nice.

Also, is it worth the effort, if I make a pull request with some changes that will improve the compatibility with MSVC? (I know almost nothing about ARM, but I can try to fix some macros, etc, maybe small things, if no one mind about the idea)

[2021-04-13 17:14] jserv commented on #384
Welcome! Can you enable GitHub Actions integration with Visual Studio?
See https://devblogs.microsoft.com/visualstudio/whats-new-with-github-actions-tooling-in-visual-studio/

[2021-04-30 16:19] HowJMay opened #390 "Support running tests on ARM-based machine"
Should we add another `cross-tool.sh` which helps ARM-based machine run x86 tests and A32/A64 tests?

Machine like M1 needs this favor.

[2021-04-30 16:56] HowJMay opened #391 "Refactor max/min intrinsics with IEEE-754 compatible intrinsics"
ARM provides IEEE-754 compatible intrinsics (e.g. `vmaxnmq_f64`). These intrinsics obey IEEE-754 on handling NaN special cases. Should we use them to replace the current implementation?

[2021-04-30 17:46] HowJMay opened #393 "Input data in `test_mm_srli_epi32` seldom hit the values used in real world usage"
`test_mm_srli_epi32` and other tests implemented in the similar way are testing with rare input data. Take `test_mm_srli_epi32` for example, the input value of `imm8` should last 32 in the most cases in real world. However, in the current implementation, the `imm8` we generated are always out of this scope. We should refactor it to another way which can test the functions properly

[2021-05-01 15:13] jserv commented on #390
Both Apple Silicon and AWS Graviton2 can benefit from the revised `cross-tool.sh`. However, I think the problem would be diverse operating system support. i.e., Linux/Aarch64 and macOS/Aarch64.

[2021-05-01 16:29] HowJMay commented on #390
BTW it will be great to include clang-format in the `cross-tool.sh`, which help people contribute to this project

[2021-05-03 10:59] marktwtn commented on #233
The wrong intrinsic implementation has been fixed.
Please check 3b6b93bb4aa383a632fa355a1d31c46c96764cad for reference.

Thanks @wangxiao1254 for pointing out the errors and @HowJMay for code contribution.

[2021-05-03 10:59] #233 closed

[2021-05-03 15:37] wangxiao1254 commented on #233
Thanks, I just tested again and all works well!

[2021-05-18 11:19] jserv commented on #188
@joshlvmh, Recently, almost the necessary SSE intrinsics required by [iqtree_arm_neon](https://github.com/joshlvmh/iqtree_arm_neon) are implemented in latest `SSE2NEON`. Can you take a try?

[2021-05-22 17:40] marktwtn commented on #391
We have to investigate the behaviour of corresponding `SSE` intrinsic first.

[2021-05-24 00:25] jasonliu-- commented on #82
Greetings, I'm the person who [packaged sse2neon](https://ports.macports.org/port/sse2neon/) for the [MacPorts](https://www.macports.org/) package management system. Wouldn't it make more sense to collaborate with the [SIMDe](https://github.com/simd-everywhere/simde) project? Their `README` claims that they are already incorporating your `sse2neon.h` header [directly into their code base](https://

[2021-05-24 00:53] danlark1 commented on #82
The only downside of SIMDe project I see is the inability to do drop-in replacements as all intrinsics are are prefixed with `simde_`, I know the users which are much more willing to update headers for all their code and dependencies rather than updating all call sites. If we can collaborate with simde on that, that would be great

[2021-05-24 01:08] jserv commented on #82
`simde` already merged most parts of `SSE2NEON` efforts. See [simde #499](https://github.com/simd-everywhere/simde/issues/499) for details. Here, we focus on Arm/Aarch64 specific tweaks, which can eventually get merged into `simde`.

[2021-05-24 03:19] jasonliu-- commented on #82
Doesn't that completely defeat the purpose of a translator/mapping?

[2021-05-27 20:31] HowJMay opened #432 "unify _mm_hsub_* functions"
The implementation for _mm_hsub_* functions varying. Maybe we should unify to the faster one

[2021-05-29 13:32] jserv opened #435 "Make use of Arm dot product instructions"
The following new instructions added in Armv8.4-A can be used to calculate dot products.
* signed dot product (`SDOT`) and
* unsigned dot product (`UDOT`)

Utilizing dot product instructions significantly improves performance.  See [Exploring the Arm dot product instructions](https://community.arm.com/developer/tools-software/tools/b/tools-software-ides-blog/posts/exploring-the-arm-dot-product-ins

[2021-06-02 13:10] HowJMay commented on #435
But how can we know the version of architecture? I mean is it armv8.2-A or armv8.4-A?

[2021-06-05 02:44] jserv opened #447 "Enforce clang-format-10 for indention"
Since focal (Ubuntu Linux 20.04LTS) is used for major platform for development and CI, it would be more consistent to enforce the use of [clang-format-10](https://packages.ubuntu.com/focal/clang-format). This task is about to migrate to `clang-format-10`.

Check list:
- Indent source files with `clang-format-10`.
- `make indent` to take `clang-format-10`.
- Documentation which refers to `clang-for

[2021-06-05 04:10] marktwtn commented on #447
As we have been migrated to `Clang-11` in https://github.com/DLTcollab/sse2neon/commit/c902b5ecdbcaf8bb8d15ee59c741f3d346365cee, maybe we should use `clang-format-11` instead?

The result of applying `clang-format-10`:
[code]

However, the result of applying `clang-format-11` is the same as applying `clang-format-6.0`.

[2021-06-05 04:15] jserv commented on #447
Agree. Let's take `clang-format-11` instead.

[2021-06-07 15:02] jserv commented on #308
Meanwhile, I am working on implementing both `cmpestrm` and `cmpestri`, which are relatively complex.
[code]

[2021-07-08 03:43] simon28li opened #463 "Is it possible to produce a release version?"
Thanks a lot.

[2021-07-08 03:46] jserv commented on #463
Thanks for noticing! I plan to make a new release after the coverage of SSE intrinsics reaches 95%.

[2021-07-08 06:22] marktwtn commented on #463
After the `_mm_mpsadbw_epu8()` and `_mm_stream_si64()`  are implemented, I believe that we can prepare for the first release.

[2021-07-08 06:28] simon28li commented on #463
All right, wait for the good news.

[2021-07-08 06:28] #463 closed

[2021-07-17 22:33] marktwtn opened #464 "Prepare the first release version of sse2neon"
As the implementation coverage rate of SSE intrinsics has been close to 95%, we can prepare for the first release.

To-do list:
- [x] Determine the release version.
- [ ] ~~Automate the release steps.~~
- [x] Prepare the release note manually instead of automatically. It should include the intrinsics which are not implemented yet.
- [x] Implement `_mm_mpsadbw_epu8()` and `_mm_stream_si64()`.
- [ ]

[2021-07-23 06:56] audioboy77 opened #465 "Missing denormal mode macros"
The macros of
_MM_SET_DENORMALS_ZERO_MODE
_MM_SET_FLUSH_ZERO_MODE
and associated flags aren't covered, so I cant use as a drop in replacement.

Please consider to add this, thanks

[2021-07-26 02:46] howjmay opened #469 "Add more supported OSes(e.g. macOS and Windows) during CI"
Currently we are running CI on Ubuntu only. Maybe we should cover more OSes (e.g. macOS and Windows) in CI.
Based [this article](https://docs.github.com/en/actions/using-github-hosted-runners/about-github-hosted-runners) GitHub Action supports macOS and Windows

[2021-07-27 09:39] jnettlet opened #470 "Fix for build error since 6afcc1cfe3a450e8b5e60f485cf9ca6928cc1b7f"
Just a naming inconsistency that was introduced in this commit.  It isn't picked up in the test case because that uses imm in the function.

[code]

[2021-07-27 10:10] jserv commented on #470
Would you mind if I ask for the corresponding pull request(s)?

[2021-07-27 18:38] Stephenmccaul opened #471 "Compile Warning in 4638cf844b2be4e992d7c1fbbf4efbd1da416a86"
sse2neon.h:6874:58: warning: implicit conversion from 'int' to 'int8_t' (aka 'signed char') changes value from 135 to -121 [-Wconstant-conversion]
        vand_s8(vreinterpret_s8_m64(b), vdup_n_s8(1 << 7 | 0x07));

This SHA1 is the version i tested this looks older in cause.

[2021-07-29 11:31] HowJMay commented on #471
This has been fixed in https://github.com/DLTcollab/sse2neon/pull/468/files

[2021-07-31 17:18] #471 closed

[2021-08-05 14:41] HowJMay commented on #470
Hi @jnettlet do you want to take this issue? If you won't, I will take it in the weekend, since this is a critical error

[2021-08-05 16:52] jeffhammond opened #472 "__rdtsc"
I find that code that depends on x86 intrinsics also uses `__rdtsc`.  Can you add support for this?

[2021-08-06 04:07] jserv commented on #472
I am afraid of being unable to add `__rdtsc` since it is not listed in Intel Intrinsics Guide. Instead, we might implement [__rdtscp](https://software.intel.com/sites/landingpage/IntrinsicsGuide/#text=__rdtsc) instead. How do you think?

[2021-08-06 05:11] jeffhammond commented on #472
That works just fine for me. Thanks!

[2021-08-06 05:18] jserv commented on #472
Thanks for your perceptive comment. I will implement portable `__rdtscp` later. At least for Linux and macOS.

[2021-08-06 07:21] jeffhammond commented on #472
I found [`_rdtsc`](https://software.intel.com/sites/landingpage/IntrinsicsGuide/#text=rdtsc&expand=5578) in the intrinsics guide.  Not sure why there is variation in the number of underscores, but if presence in the guide is a precondition of support, then I think it's okay.

RDTSCP does more than just read the TSC on x86, but I'm not sure how precisely it can or should be translated to ARM archit

[2021-08-08 11:30] #470 closed

[2021-08-08 18:30] jserv commented on #472
Possible implementation for `rdtsc`:
[code]

[2021-08-16 18:29] jmather-sesi commented on #160
This has a collision on Apple silicon and boost's date_time library, as they have a function called likely. See https://www.boost.org/doc/libs/1_77_0/boost/date_time/special_values_parser.hpp

Could we prefix sse2neon's likely and unlikely with something so that these types of collisions are less "likely" to occur?

[2021-08-17 04:54] jserv commented on #160
@jmather-sesi, Thanks for pointing this out. It should be fixed in commit 767e5bfadf6ff4d346ddd483d178640274c25a10.

[2021-08-17 20:08] aqrit commented on #82
from the [readme](https://github.com/simd-everywhere/simde#usage):

[2021-08-20 01:30] marktwtn commented on #464
- Determine the release version
   The version would be following the rule [Semantic Versioning](https://semver.org/).
   The first version would be `1.0.0` with the git tag `v1.0.0`.
   The [Semantic Versioning](https://semver.org/) should be added into the `README` as well.

- Check the intrinsics which might have floating point epsilon.
   Currently, the intrinsic returned value of reciprocal t

[2021-08-20 03:20] jserv commented on #464
To differentiates [jratcliff63367/sse2neon](https://github.com/jratcliff63367/sse2neon) and [Rockchip's SSE2NEON Debian package](https://repo.rock-chips.com/debian/pool/main/s/sse2neon/), I would like to set version number to `1.5.0`.

[2021-08-20 08:46] marktwtn commented on #464
If we set the version to `1.5.0`, does that mean somehow we are related to other `sse2neon` projects?

[2021-08-20 08:52] jserv commented on #464
There were various `SSE2NEON` forks, but here we are working on the most advanced one.

[2021-08-23 09:31] norwend opened #477 "Absent `_mm_aesdec_si128` and `_mm_aesdeclast_si128`"
https://software.intel.com/sites/landingpage/IntrinsicsGuide/#text=_mm_aesdec_si128&expand=262
https://developer.arm.com/architectures/instruction-sets/intrinsics/vaesdq_u8

[2021-08-23 10:17] jserv commented on #477
Check [aes-brute-force/src/aes_ni_botan.cpp](https://github.com/GeneralZero/aes-brute-force/blob/dev/src/aes_ni_botan.cpp) at first glance.

- [ ] AES extension
[code]

- [ ] Armv8-A Crypto extension
[code]

[2021-08-23 10:22] jserv commented on #477
Another AES-Crypto mapping example: https://gist.github.com/mmozeiko/f9c999dda7dbb03722409854a1c39cc2

[2021-08-31 09:04] marktwtn commented on #464
The first release version would be `1.5.0` and it should be set up manually.
The reason of not using [release robot](https://github.com/hahow/probot-conventional-release) in the first version is the release version would be generated automatically, which would be `0.1.0`.
There might be some workaround. I will do the experiment on my own repository and check the behaviour.

Besides, to use the rel

[2021-08-31 10:02] marktwtn commented on #465
The **x86** [MXCSR register](https://help.totalview.io/previous_releases/2019/html/index.html#page/Reference_Guide/Intelx86MXSCRRegister.html) has two bits for `FZ`(flush to zero) and `DAZ`(denormals are zeros).
In **ARM**, the **AArch32** [FPSCR register](https://developer.arm.com/documentation/ddi0595/2021-06/AArch32-Registers/FPSCR--Floating-Point-Status-and-Control-Register?lang=en) and **AArc

[2021-09-03 15:36] jnettlet opened #480 "Comment regarding _mm_dp_pd"
This comment was pointed out to me regarding the sse2neon implemention "There's a small issue with the _mm_dp_pd impl, though: you do the mul first and then mask the result according to imm8[4:5]. That is the opposite order to what the sse41 definition says; the sse41 original will avoid unwanted ops, eg. on NaNs, your impl won't"

Reviewing https://software.intel.com/sites/landingpage/IntrinsicsG

[2021-09-07 19:08] marktwtn commented on #464
The release description would be:
[code]

[2021-09-08 16:48] bigianb opened #481 "Help using SIMDVec"
I'm trying to port the following code to a mac M1 (so aarch64)

[code]

I have tried the following in the body:

[code]

and that gives me the error:
`constexpr function never produces a constant expression [-Winvalid-constexpr]`

I can't find any examples of where SIMVec is used to direct setting of __m128i components such as above and so am a bit lost. Can anyone shed some light on how I can mak

[2021-09-08 17:04] jserv commented on #481
The `SIMDVec` struct was intended for internal usage only. It is important to note that accessing the `__m128` struct directly is bad coding practice by Microsoft. See https://docs.microsoft.com/en-us/cpp/cpp/m128

Can you share the motivations and reasons why you attempted access the contents of an `_m128` struct?

[2021-09-08 17:23] bigianb commented on #481
Hi, thanks for the quick response!
yes - I'm looking at what it would take to port some emulation code (pcsx2) to an ARM platform and this code is in its vector classes.  It's basically trying to initialise a __m128i as a constant from 4 sub-components and the intrinsic setr_epi32 is not a constexpr. It's not my code so I'm trying to make as small a change as possible. I'd be happy to understand t

[2021-09-08 17:33] #465 closed

[2021-09-08 21:35] bigianb commented on #481
It looks like this works:
[code]

[2021-09-08 21:35] #481 closed

[2021-09-08 23:03] bigianb opened #482 "Problem with _mm_alignr_epi8 and constants"
I'm seeing the following error in my code:
[code]

The root is compiling the following code with a specialisation of 8
[code]

That should be fine but it barfs on the last line of the snippet below:
[code]
It looks like the macro expansion for vextq_u8 is triggering the compiler error on a bounds check. The code would never execute because of the imm >= 16 check but the code is still generated and

[2021-09-10 06:22] #482 closed

[2021-09-12 02:23] marktwtn commented on #480
The `_mm_dp_pd` implementation is slightly different from the description on [Intel Intrinsic Guide _mm_dp_pd]( https://software.intel.com/sites/landingpage/IntrinsicsGuide/#text=_mm_dp_pd).
Currently, I do not find any other NEON intrinsic suitable to replace the implementation to avoid unwanted ops.
Hence, to follow the definition of `_mm_dp_pd`, at least the if-else statement would be added, wh

[2021-09-13 06:08] jnettlet commented on #480
That is the concern, although I currently have no direct implementations that trigger this in any of the projects I am testing with sse2neon.

[2021-09-13 08:56] #393 closed

[2021-09-15 04:09] #480 closed

[2021-09-22 07:47] jserv commented on #477
IIRC, @wangxiao1254 implemented `_mm_aesimc_si128`, `_mm_aesdec_si128`, and `_mm_aesdeclast_si128` with ARMv8 Cryptography Extensions. See https://github.com/f1ed/emp/blob/sm4/emp-tool/utils/block.h

However, for SSE2NEON, we need ARMv7/non-crypto-ext counterparts.

[2021-09-29 10:04] marktwtn commented on #391
Take [_mm_max_pd()](https://software.intel.com/sites/landingpage/IntrinsicsGuide/#text=_mm_max_pd) as an example:
The intrinsic description says
[code]

Therefore, we do not need the IEEE-754 compatible intrinsics replacement.

[2021-09-29 10:04] #391 closed

[2021-10-11 03:30] #94 closed

[2021-10-12 15:54] nlacey opened #496 "Permission to move _mm_popcnt_u32 to simd-everywhere"
I'd like to get permission to move your implementation of _mm_popcnt_u32 to simd-everywhere.

Thanks for the great work.

[2021-10-12 16:06] #496 closed, assigned to nobody

[2021-11-13 06:26] runburg opened #502 "Porting an application to Mac M1"
Hi, So I don't know very much about this so my question might be really straightforward to solve. I'm trying to port a cpp to Mac M1 and ran into the issue of not having <mmintrin.h>. So I found this project and thought it would be as straightforward as adding the header file and the compilation flag for ARMv8. But so far I've been thwarted.

I'm getting a bunch of errors. The first one is `Unsupp

[2021-11-13 06:47] jserv commented on #502
Hello @runburg! Thanks for your interest in SSE2NEON Project. Take [smartdenovo](https://github.com/ruanjue/smartdenovo) for example. It can be ported to Apple M1 easily with SSE2NEON. Here are the instructions:
[code]

Then, you will get several executable files such as `wtext`.
[code]

The above were verified on macOS Monterey. Please submit the corresponding issues if any.

[2021-11-13 09:14] runburg commented on #502
Sorry. I think my comment was not very clear or maybe I'm misunderstanding your comment. I am trying to do the port myself (change includes and add the header files).

What I'm confused about is why I'm seeing the unsupported target message. It seems that I haven't defined certain macros (__clang__ for example) correctly, but I'm new to these kinds of projects so I don't understand where or to wha

[2021-11-13 10:52] jserv commented on #502
Can you show me the instructions to reproduce?

[2021-11-13 18:00] runburg commented on #502
I'll try to come up with a MWE but it may take me a while since the project is pretty sprawling and I don't know which parts are creating this error.

The error I'm getting is from line 118 of sse2neon.h. From what I can tell the macros are not getting defined correctly so the target is not being set correctly. I don't know how the macros should be set on M1 Mac using clang.

[2021-11-14 00:47] jserv commented on #502
Hint: You can get the predefined macros by running `gcc -dM -E - < /dev/null | grep -i arm` command. Also, please show the version of command line tools for your macOS environment.

[2021-11-14 02:12] runburg commented on #502
❯ clang -dM -E - < /dev/null | grep -i arm
#define __ARM64_ARCH_8__ 1
#define __ARM_64BIT_STATE 1
#define __ARM_ACLE 200
#define __ARM_ALIGN_MAX_STACK_PWR 4
#define __ARM_ARCH 8
#define __ARM_ARCH_8_3__ 1
#define __ARM_ARCH_8_4__ 1
#define __ARM_ARCH_8_5__ 1
#define __ARM_ARCH_ISA_A64 1
#define __ARM_ARCH_PROFILE 'A'
#define __ARM_FEATURE_ATOMICS 1
#define __ARM_FEATURE_CLZ 1
#define __ARM_FEATURE

[2021-11-14 03:02] jserv commented on #502
It seems to be fine according to the above results. Then, we need a test program to reproduce. Please provide for further investigation.

[2021-11-21 20:07] tlk00 opened #504 "Thank you for the great library!"
Hello,

Just wanted to open a ticket to thank you SSE2NEON team for the great work.
It was possible to do initial port of BitMagic library (bit-vectors and succinct data structures) to NEON within a day.

Many thanks,
Anatoliy Kuznetsov
BitMagic C++ library
https://github.com/tlk00/BitMagic

[2021-11-22 00:24] jserv commented on #504
Thank @tlk00 for informing of the great news. I have added BitMagic as one of the adoptions of SSE2NEON project.

[2021-11-22 00:24] #504 closed

[2021-11-26 15:31] marktwtn commented on #464
@jserv do you think the description is acceptable?
And is there anything we should concern with?

If not, I guess the version `1.5.0` is ready to be released.

[2021-11-27 02:16] jserv commented on #464
Yes, please proceed!

[2021-11-27 08:45] marktwtn commented on #464
Close with the release [1.5.0](https://github.com/DLTcollab/sse2neon/releases/tag/v1.5.0).

[2021-11-27 08:45] #464 closed

[2021-11-28 02:19] dropdeadrus commented on #502
I've encountered almost the same issues with clang; using gcc+11 compiler instead of clang solved them.

[2021-11-28 02:32] jserv commented on #502
@dropdeadrus, Can you share the instructions to reproduce clang specific issues? Thanks.

[2021-12-08 19:42] aaronfranke commented on #384
When I try to compile sse2neon for ARM Windows using MSVC, it triggers the `#error "Macro name collisions may happen with unsupported compiler."` line in the below code, which fails the build:

https://github.com/DLTcollab/sse2neon/blob/master/sse2neon.h#L83

[code]

[2021-12-09 02:29] jserv commented on #384
Line 83 is indeed `#warning` rather than `#error`. At present, SSE2NEON is built with clang and gcc.
@aaronfranke, Can you remove the part from Line 105 to Line 120 and build with MSVC?

[2021-12-09 04:41] aaronfranke commented on #384
@jserv When I comment out the error line and lines 105 to 120, I get hundreds of errors. Here are some of the first ones:

[code]

[2021-12-11 08:21] h-murai opened #505 "Is the current sse2neon.h accepted by C compilers?"
Hi, I think the line 6439 isn't correct as a C statement.

`    static const __m128d mask = _mm_set_pd(1.0f, -1.0f);`

gcc actually detects an error of "initializer element is not a compile-time constant" for the line.

[2021-12-11 09:08] jserv commented on #505
Reported by recent [GitHub Actions result](https://github.com/DLTcollab/sse2neon/actions/runs/1510120922), both gcc-10 and clang-11 are able to build the test suite without compilation errors. Can you show more information about the package and configurations?

[2021-12-11 12:30] h-murai commented on #505
I used GCC8 and Spack v0.17.0 to install the bwa package, which depends on sse2neon. Ok. I'll try it again with GCC10. Thanks.

[2021-12-21 16:11] QwertyJack commented on #505
The same here. Using `g++` to compile everything works like a charm, while `gcc` failed. Btw, I have gcc-7.5 for aarch64.

[2021-12-21 17:15] QwertyJack commented on #505
The C language does not allow initializing a variable with a function call.
The testing is all C++, but it should fail with `gcc` and a `.c` file.

[2021-12-22 06:10] jserv commented on #505
@QwertyJack, I managed to reproduce the issue. Can you check the following steps?
1. Download GNU Toolchain based on gcc-7.5: https://releases.linaro.org/components/toolchain/binaries/latest-7/
2. Run "make check" to see if the builtin test suite would pass or not.

Alternatively, please provide the test program and the corresponding procedure for me to reproduce.

[2021-12-22 09:30] QwertyJack commented on #505
As I said, this is a language "feature", not related to the compiler (please see [this post](https://stackoverflow.com/questions/3025050/error-initializer-element-is-not-constant-when-trying-to-initialize-variable-w) for details).

The test should pass, because all files are ended with `.cpp` and the compiler will treat these files as C++ langeuage.
A minimal example to reproduce the issue would b

[2021-12-22 11:31] jserv commented on #505
The workaround is to remove the qualifier `static const`. That is,
[code]

@marktwtn, we shall figure out the elegant way to enable the use of `static const` as the hint for compiler optimizations.

[2021-12-22 12:20] QwertyJack commented on #505
You are right.
Indeed, removing the qualifier makes it work, but I would like to keep the `const` for now btw.

[2021-12-24 10:15] JishinMaster opened #506 "simplify blendv functions?"
Dear All,

Are we sure we need the extra "vshrq" in the blendv functions?

The current version :
[code]
The version I used with no problem so far (I may be wrong!) :

[code]

[2021-12-24 10:30] JishinMaster commented on #505
I had the same problem.

I used the following technique to still get a const but without compiler errors :

[code]

[2021-12-25 05:47] marktwtn commented on #506
x86: [_mm_blendv_ps](https://www.intel.com/content/www/us/en/docs/intrinsics-guide/index.html#text=_mm_blendv_ps)

[code]

The condition decision is related to the **most significant bit**.

---

arm: [vbslq_f32](https://developer.arm.com/architectures/instruction-sets/intrinsics/#f:@navigationhierarchiessimdisa=[Neon]&q=vbslq_f32)

[code]

The condition decision is related to **each bit**.

---

[2021-12-25 10:26] JishinMaster commented on #506
Okay.
That would explain why it works for me since I use it mostly after comparer instructions which set everything to FF when true.

Thanks

[2021-12-25 10:26] #506 closed

[2021-12-26 14:23] marktwtn commented on #505
Based on the [post](https://stackoverflow.com/questions/3025050/error-initializer-element-is-not-constant-when-trying-to-initialize-variable-w) offered by @QwertyJack :

[code]
Remove `static` keyword would fix the issue.

Besides, @JishinMaster uses the aggregate initializer to fix the issue.

I wonder the benefits of using `static` keyword here. Like avoid initializing variable multiple times?

[2021-12-27 16:48] jserv commented on #188
All intrinsics required by [iqtree_arm_neon](https://github.com/joshlvmh/iqtree_arm_neon) were implemented.

[2021-12-27 16:48] #188 closed

[2021-12-27 16:53] jserv commented on #505
How about experimenting with [godbolt](https://godbolt.org/) for some simplified test cases?

[2022-01-01 23:48] appwagner opened #507 "AVX support?"
Thanks very much for creating this useful project. I'm trying to convert some code that uses AVX instructions using _m256d registers and it doesn't look like this type is handled in the current version of sse2neon. Thanks again for your help.

[2022-01-03 02:44] jserv commented on #507
As the project name implies, SSE2NEON tends to provide SSE coverage rather than AVX. You can use [SIMDe](https://github.com/simd-everywhere/simde) for generic AVX support. Also, you can browse the source code of [embree](https://github.com/embree/embree) to check how AVX code is mapped to Arm NEON counterpart.

[2022-01-03 21:40] appwagner commented on #507
Thanks for the references. I'm actually porting this code on an M1 mac so it may be better to use the Apple Accelerate frame work from the start for my use case.

[2022-01-03 21:50] #507 closed

[2022-01-20 00:57] jserv commented on #472
Similarly, FoundationDB implements `rdtsc` via [emulation](https://github.com/apple/foundationdb/blob/fd2f553d789224ab44897e046c43af0a3a33d565/flow/Platform.h#L427).
[code]

[2022-01-25 04:50] yejuntu opened #510 "dereferencing type-punned pointer will break strict-aliasing rules"
thank you for making translation

I have made an itk but it comes an error when making afni in freesurfer
I am wondering whether it is caused by the version conflict

`In file included from /usr/local/src/ITK/Modules/Core/Common/include/itkMacro.h:42,
                 from /usr/local/src/ITK/Modules/Core/Common/include/itkLightObject.h:21,
                 from /usr/local/src/ITK/Modules/Core/Comm

[2022-01-25 06:20] jserv commented on #510
@yejuntu, I appreciate your efforts on adopting SSE2NEON with [ITK](https://itk.org/). Can you prepare another C++ program which can reproduce the similar issues *without* touching ITK?

[2022-01-25 08:57] yejuntu commented on #510
@jserv Thank you for your advice. I will go to have a try on removing some function.

[2022-01-27 12:47] berolinux opened #512 "error: initializer element is not constant"
Trying to use sse2neon.h (current git master) results in

[code]

when using gcc 11.2 or

[code]
when using clang 13.0

[2022-01-27 12:54] berolinux commented on #512
In both cases, the problem goes away when removing the static keyword, but of course that comes with a performance penalty.

[2022-01-27 12:56] berolinux commented on #512
Duplicate of #505 with a different description

[2022-01-27 12:56] #512 closed

[2022-01-28 19:48] andrewevstyukhin opened #513 "Bug in _mm_storel_epi64"
Hi,
the `_mm_storel_epi64` intrinsic for `movq m64, xmm` SSE2 instruction performs `store low 64 bits` of 128-bit register.

[Neon](https://github.com/DLTcollab/sse2neon/blob/53574e7de59f0255c521203d603d6724f98a1a96/sse2neon.h#L5924) version first reads high portion from memory and then writes it back. Such out of bounds access causes general U.B. in C++ and breaks execution.

Usually I did `vst1`

[2022-01-29 10:12] jserv opened #514 "Test item `mm_rsqrt_ss` failed on Apple M1"
I tested `make check` on both ThunderX2 based Ubuntu Linux and macOS on Apple M1. Both are powered by ARMv8-A architecture. The former passed all test items, but item `mm_rsqrt_ss` failed on Apple M1.

[2022-01-29 12:29] #514 closed

[2022-01-29 17:10] #505 closed

[2022-01-29 17:12] jserv commented on #505
Thank @berolinux and @QwertyJack for the insightful feedbacks.

[2022-01-29 17:47] jserv commented on #502
No further information. Closing.

[2022-01-29 17:47] #502 closed

[2022-02-02 15:02] jserv commented on #513
Thank @andrewevstyukhin for pointing this out. Can you send a pull request accordingly?

[2022-02-03 13:57] #513 closed

[2022-02-17 20:55] mitghi opened #518 "Performance on Apple M1"
Hello, I have been testing the code from [this blog](https://medium.com/swlh/searching-gigabytes-of-data-per-second-with-simd-f8ab111a5f9c) on Apple M1 using _sse2neon_ library. However I have encountered a problem with low performance. I am not exactly sure why the result is opposite of the original post on x86_64 in terms of performance as I am a beginner and learning SIMD.

The following progra

[2022-02-18 05:56] jserv commented on #518
Since `SSE2NEON` is just a translator from SSE intrinsics to NEON counterpart, it might not be worthy to take SSE tweaked routines for IO-bound scenario such as `count_chars_128`. Instead, you should check some SWAR/NEON implementations. For example, check this: https://github.com/magurosan/strlen_neon

[2022-02-18 07:46] mitghi commented on #518
@jserv Thank you very much for the quick reply. The _memchr_ implementation in _strlen_neon_ has almost everything I was looking for.

[2022-02-18 07:46] #518 closed

[2022-03-12 18:59] jonathanhue opened #519 "Support for ARMv8 in 32-bit execution mode"
I just started using sse2neon last week to migrate some code, and found that I needed some changes to support ARMv8 in 32-bit execution mode.  The code seems to assume all 32-bit targets are ARMv7 and ARMv8 is always in 64-bit execution mode.  My target is 32-bit, but running on ARMv8 (Cortex-A72/A73), and I want to take advantage of new ARMv8 instructions available in 32-bit execution mode, for e

[2022-03-12 20:37] jserv commented on #519
Thank @jonathanhue for pointing this out. Can you send some pull requests which enable 32-bit support for ARMv8-A based cores? It is definitely involved in diverse tests to confirm.

I am thinking of the feasibility to extend the [existing GitHub Actions](https://github.com/DLTcollab/sse2neon/blob/master/.github/workflows/github_actions.yml) for such scenario.

[2022-03-12 22:02] jonathanhue commented on #519
Sure, expect something in the next day or two.

[2022-03-14 15:18] jonathanhue opened #521 "Crash in test_mm_stream_si128() due to unaligned access"
Crash has been observed with 32-bit executables running on actual ARM hardware running both 32-bit and 64-bit operating systems.  The crash is due to trying to store to an insufficiently aligned address.  _mm_stream_si128 requires that the destination address be aligned on a 16-byte boundary, otherwise a general protection fault may occur.  sse2neon maps this to vst1q_s64, and the address only has

[2022-03-14 17:19] jonathanhue commented on #519
To identify the new intrinsics available on ARMv8 while in 32-bit execution mode, I went to this page: https://arm-software.github.io/acle/neon_intrinsics/advsimd.html and then did a grep for anything that was listed as "A32/A64" (i.e. not available for v7).  That gave me 582 intrinsics, of which 578 were unique.

Because there are so many new intrinsics, the approach I would take is to find every

[2022-03-15 01:10] jonathanhue commented on #519
I think a low-risk first step would be to enable use of the new intrinsics whose presence is indicated by one of the __ARM_FEATURE_XXX macros.  Compared to compiling for ARMv7, compiling for 32-bit ARMv8 adds the following with clang:

#define __ARM_FEATURE_CRC32 1
#define __ARM_FEATURE_DIRECTED_ROUNDING 1
#define __ARM_FEATURE_IDIV 1
#define __ARM_FEATURE_NUMERIC_MAXMIN 1

GCC adds:

#define __AR

[2022-03-15 22:19] jonathanhue commented on #519
I've made the changes to utilize the new rounding and CRC intrinsics available for 32-bit targets on ARMv8.  The directed rounding intrinsics help quite a bit; I have a function that now processes samples at a 35% higher rate.  I did run into a problem with older versions of GCC and an include file that GCC itself supplies.

The CRC intrinsics are declared in a separate include file (arm_acle.h),

[2022-03-16 21:26] jserv commented on #521
@HowJMay, it is worth examining for alignment requirements.

[2022-03-23 23:18] #521 closed

[2022-04-05 10:41] maedoc opened #524 "Dereference breaks strict aliasing"
Thanks for the header.  I dropped this into a project with a bit of SSE2, but the compiler (GCC 5.4) is complaining that e.g.
[code]
This project treats warnings as errors.  Because of how SIMD works, I assume this isn't fixable but if there are any workarounds, I would be happy to try them out.

[2022-04-05 11:16] jserv commented on #524
Can you share the reason why you would stick to gcc-5.4, which was released in 2016? Which kind of applications did you attempt to adopt SSE2NEON with?

[2022-04-05 11:19] maedoc commented on #524
The compiler version is a good question.  I will try to update it to something more recent.

The application is [FreeSurfer](https://github.com/freesurfer/freesurfer) a widely used neuroimaging analysis toolbox, which has some SSE2 bits (20 lines maybe) hard coded.

[2022-04-05 13:09] maedoc commented on #524
More recent compiler versions don't like some of the C++ code in the project, so I'm a bit blocked.  I will probably just port the SSE2 operations to regular C++.

[2022-04-05 13:09] #524 closed

[2022-05-02 02:12] alexreg opened #525 "New release?"
Could you kindly tag a new release, which has a few recent? (I'm trying to get sse2neon accepted into macOS Homebrew.)

[2022-05-02 06:31] marktwtn commented on #525
@jserv I will move the version from `v1.5.0` to `v1.5.1` since the commits focus on fixing bugs instead of adding new features.

[2022-05-02 15:21] alexreg commented on #525
@marktwtn Thank you, that would be great. (And yep, I meant a new bug-fix release. That works well.)

[2022-05-02 21:58] marktwtn commented on #525
The new version [v1.5.1](https://github.com/DLTcollab/sse2neon/releases/tag/v1.5.1) has been released.

[2022-05-02 21:58] #525 closed

[2022-05-11 10:33] shord opened #526 "precision issue with rsqrt/sqrt/rcp/div"
Hi,
I been developing with SSE for many may years, and now got into porting some code to native ARM.
sse2neon works great, and I'm very happy with it, but I realized there are some precision incompatibility.
To my knowledge there are only 2 non exact instruction in SSE: `rsqrt` and `rcp` (`p` and `s` versions), both got 11 bit accuracy.
Neon got `vrsqrteq_f32` and `vrecpeq_f32`, that got 8 bit acc

[2022-05-11 12:56] shord opened #527 "`SSE2NEON_PRECISE_MINMAX` clarification"
Just looked into other of the library setting, and its not clear if `SSE2NEON_PRECISE_MINMAX`  is needed for correct handling of infinity
It's probably fine, but there is not much explanation about the problems its solve in the header file.
I don't see any inf in the testing code too.

[2022-05-15 21:17] jserv commented on #477
Drop-in implementations with ARMv8 Cryptography Extensions:
[code]

[2022-05-25 13:20] Saikatsaha1996 opened #529 "Help wanted"
How can I solve this issue ? Is it possible to solve with `sse2neon`
Please help

![162615074-2b09f8a5-dbd3-488c-8011-3194b8e14a8f](https://user-images.githubusercontent.com/72664192/170271702-e9dcc6ac-0043-4039-a5c4-c54ba74b0fa7.jpg)

[2022-05-25 15:03] Saikatsaha1996 commented on #529
Os Android
Termux environment
I solved problem just now .. `sse2neon.h` working like charms.. just replace `mmintrin.h` to `sse2neon.h`.. all error solved

[2022-05-25 15:04] #529 closed

[2022-05-25 15:06] Saikatsaha1996 commented on #529
I just completed https://github.com/monkins1010/AMDVerusCoin2.0

It is `x64` , `x86` instruction build.. but with `sse2neon` build complete with aarch64 ..
 I solved problem just now .. `sse2neon.h` working like charms.. just replace `mmintrin.h` to `sse2neon.h`.. all error solved

[2022-05-27 15:06] Cuda-Chen opened #530 "Implement `__rdtsc`"
Currently I am implementing the `_rdtsc` Intel intrinsic function.
I confirm I follow the instruction of [adding test case](https://github.com/DLTcollab/sse2neon/blob/master/tests/README.md).
However, whenever I tried to `make check` on Intel platform, I always receive the following compile error:
[code]

For your convenience, I attach the changed I have made:
- sse2neon.h
[code]

- tests/impl.h
[

[2022-05-27 15:52] jserv commented on #530
For ARMv7-A implementation of `_rdtsc`, you can check [gperftools/src/base/cycleclock.h](https://chromium.googlesource.com/external/gperftools/+/master/src/base/cycleclock.h). Quoted:

[2022-05-27 16:13] Cuda-Chen commented on #530
Thanks @jserv help, and I will work on ARMv7-A part!

[2022-06-01 14:20] Cuda-Chen opened #531 "May need to set test suite ARMv7 qemu environment into privilege mode to use `mrc`"
Currently I am porting `_rdtsc` x86 intrinsic onto ARMv7.
On ARMv7 platform, usually we can access [`PMCCNTR`](https://developer.arm.com/documentation/ddi0406/cb/System-Level-Architecture/System-Control-Registers-in-a-VMSA-implementation/VMSA-System-control-registers-descriptions--in-register-order/PMCCNTR--Performance-Monitors-Cycle-Count-Register--VMSA) to get cycle count. In order to access thi

[2022-06-01 14:24] #531 closed, assigned to nobody

[2022-06-01 15:53] Cuda-Chen commented on #530
Currently I am porting `_rdtsc` x86 intrinsic onto ARMv7.
On ARMv7 platform, usually we can access [`PMCCNTR`](https://developer.arm.com/documentation/ddi0406/cb/System-Level-Architecture/System-Control-Registers-in-a-VMSA-implementation/VMSA-System-control-registers-descriptions--in-register-order/PMCCNTR--Performance-Monitors-Cycle-Count-Register--VMSA) to get cycle count. In order to access thi

[2022-06-01 16:22] jserv commented on #472
Close in favor of #530

[2022-06-02 03:26] jserv commented on #390
Let's close this issue since it is not trivial to set up cross-compilation tools along with latest QEMU.

[2022-06-02 03:26] #390 closed

[2022-06-02 03:30] jserv commented on #93
Till now, there are 152 hyperlinks which point to Microsoft website.
[code]

[2022-06-02 03:33] jserv commented on #469
macOS is supported by CI environments. However, its architecture is based on x86_64.

[2022-06-02 03:37] jserv commented on #519
@jonathanhue, regarding gcc prior to version 8.2, how do you think to propose the potential fixes?

[2022-06-02 04:19] marktwtn commented on #93
I was trying to implement a program which uses a web crawler to get the description of intrinsic instructions and then generates the corresponding hyperlinks.
However, the issue of crawler for dynamic web page bothers me.

We should have a program to get the data we need instead of update them manually.

[2022-06-02 16:12] #530 closed

[2022-06-22 19:01] emoon commented on #18
Somewhat related, but not exactly the same:

Something would be nice would be to have a list of all the implemented intrinsics and to how many NEON intrinsics that is needed to implement it. While this doesn't give you a 1:1 mapping to how fast something is, it still gives the user and idea what might be good to avoid.

[2022-07-16 01:21] aagontuk commented on #308
Hi, I was wondering if `mm_cmpestri` was implemented? I am getting the following error while compiling with sse2neon:

[code]

[2022-07-16 03:52] jserv commented on #308
@aagontuk, Thanks for your interest in SSE2NEON. The branch for SSE4.2 text processing intrinsics is not yet public. WIP.

[2022-08-06 19:49] jserv commented on #308
@aagontuk, Both `_mm_cmpestri` and `_mm_cmpestrm` are being implemented recently. Please check #534 for details.

[2022-08-20 18:17] jonathanhue commented on #519
I had to go back and review the problem.  The problem is isolated to 32-bit ARMv8 builds.  The bug doesn't exist when compiling for 64-bit, nor on ARMv7 since ARMv7 doesn't have the CRC instructions.  So previously supported platforms aren't affected by this.

I don't have a great solution, but there is probably a less bad solution than the current behavior.  The current behavior is that the #incl

[2022-09-12 10:25] Saikatsaha1996 commented on #529
@jserv help wanted please..

`Fast I got error`
![Screenshot_2022-09-12-15-52-48-808_com termux](https://user-images.githubusercontent.com/72664192/189631212-b6103776-4873-43bb-b65d-b127c3e62895.jpg)

Than I replaced with sse2neon.h
But not solve this error.. how can I solve?
![Screenshot_2022-09-12-15-52-58-778_com termux](https://user-images.githubusercontent.com/72664192/189631441-e15fffab-2235

[2022-09-12 10:49] jserv commented on #529
Please paste the text messages rather than screenshots.

[2022-10-08 04:39] jserv opened #537 "Scalable Vector Extension (SVE) support"
Quote from [Arm website](https://developer.arm.com/Architectures/Scalable%20Vector%20Extensions):

[genarchbench](https://github.com/LorienLV/genarchbench) comes with partial [sse2sve](https://github.com/LorienLV/genarchbench/blob/master/benchmarks/bsw/src/sse2sve.h) header, which can be regarded as a starting point for SSE2NEON to support SVE.

[2022-10-09 19:50] jserv commented on #308
See also [sse4.2: added the implementation for mm_cmpestra](https://github.com/simd-everywhere/simde/pull/295).

[2022-10-10 20:58] jserv commented on #519
By the way, shall we support `__ARM_FEATURE_SIMD32`?
[ARM C language extensions specification](https://developer.arm.com/documentation/ihi0053/d/?lang=en) describes the `__ARM_FEATURE_SIMD32` macro as follows:

That is, `#if defined(__ARM_NEON)` would become `#if defined(__ARM_FEATURE_SIMD32) || defined(__ARM_NEON)`.

[2022-10-11 19:42] sreekanthjbjn opened #538 "Windows ARM64 compatibility"
Windows VS2022 arm64 compiler doesn't define __aarch64__ preprocessor but defines _M_ARM64, which breaks the compatibility in sse2neon.h.

Also #warning breaks windows compilation, and even after changing to #pragma message other issues like
__aarch64__ and __asm__ issues are still present.

It would be helpful if Windows Arm64 support is added

Thank you

[2022-10-11 22:20] jserv commented on #538
Duplicated. See #384

[2022-10-11 22:20] #538 closed

[2022-10-11 22:28] jserv opened #539 "tests: Warnings raised by clang++"
While I was using `clang++` to build the builtin test suite, I encountered the following warnings:
[code]

Reproducible via `make CXX=clang++` on both GNU/Linux and macOS.

[2022-10-12 06:05] sreekanthjbjn commented on #538
Ah thank you @jserv

[2022-10-12 14:03] #539 closed

[2022-10-21 04:35] jserv opened #544 "Simplify `_mm_cmpestr` test cases"
File `tests/impl.cpp` contains some unattractive code as following:
[code]

They are hard to maintain, and `clang-format` even misinterprets as nested statements. Let's think of some approaches to simplify them.

[2022-10-22 12:18] invertego commented on #384
The biggest challenge so far is the result of this commit: 8c24b9458989e87776532ab209342723e2d568ed

MSVC does not support statement expressions, as they are a GNU C extension. Because intrinsics that take immediates require them to be constant expressions, we need to come up with some adequate substitute. So far, I can see only two options:
1) function templates that take the immediate as a templ

[2022-10-22 14:15] jserv commented on #384
Let's try to introduce some wrapper based on C++ function templates for MSCV support. @invertego, can you show some proposed changes?

[2022-10-22 19:15] jserv opened #547 "Consolidate `_mm_prefetch`"
Current `_mm_prefetch` does not behave as [Intel documentation](https://www.intel.com/content/www/us/en/docs/intrinsics-guide/index.html#text=_mm_prefetch) states:

We shall consolidate:
1. Refine the function prototype. i.e., `void _mm_prefetch(char const *p, int i)`
2. Provide the corresponding test cases. See [test/x86/sse.c](https://github.com/simd-everywhere/simde/blob/master/test/x86/sse.c)

[2022-10-22 22:33] invertego commented on #384
Here's `_mm_shuffle_ps_default` as an example. I have included both template and lambda implementations for demonstration purposes, but we only need to pick one. Assume `SSE2NEON_RETURN` is defined as `return` or nothing depending on whether statement expressions are in use.

[code]

[2022-10-23 04:09] jserv commented on #384
@AymenQ, Can you offer any recommendations for the aforementioned template and lambda-based implementations?

[2022-10-24 19:12] invertego commented on #384
I implemented something very similar to begin with. Sadly, default captures do not work if the immediate expression includes variables, which is too restrictive. Try modifying your example above to see what I mean:
[code]
To make lambdas work, any variables used in the immediate expression cannot be captured.

Of course, it's still possible to use macros to keep things tidy. Here is an example tha

[2022-10-25 08:57] invertego commented on #384
Notably, the DECL macro above is only required by the template implementation. It is possible to get rid of the IMPL macro too with the lambda implementation, but it requires the statement expression implementation to declare some additional variables. Also, passing the body of the function as a macro argument requires that you be extra careful with commas in certain places (hence the _sse2neon_in

[2022-10-26 13:35] #544 closed

[2022-10-30 13:49] jserv commented on #547
Evan Nemerson, the original author of SIMDe, [commented](https://lemire.me/blog/2018/04/30/is-software-prefetching-__builtin_prefetch-useful-for-performance/) as following:

@howjmay, you should check if the generated code with `__builtin_prefetch` is identical to the counterpart with `__pld` or `__pldx`.

[2022-10-30 14:06] jserv commented on #384
For MSVC integration, can we make use of recursive macros (such as `SSE2NEON_EVAL`) to generalize the form of macro `_sse2neon_define`? Therefore, we don't have to specify the number of arguments which are expected to be passed to these function-like macros. I think the proposed `_sse2neon_define2` is pretty well at first glance, and my only concern is the suffix `2`.

[2022-11-02 12:27] #547 closed

[2022-11-10 15:11] jserv commented on #477
The portable implementations:
* QEMU [target/i386/ops_sse.h](https://github.com/qemu/qemu/blob/master/target/i386/ops_sse.h): Check `helper_aesdec` and `helper_aesdeclast`.
* [WebAssembly/design Issue #1433](https://github.com/WebAssembly/design/issues/1433)

[2022-11-28 07:20] iamqk opened #554 "Lack of `_mm_mfence`"
The header only has `_mm_sfence`.

[2022-11-28 07:26] jserv commented on #554
We can implement [`_mm_sfence`](https://www.intel.com/content/www/us/en/docs/intrinsics-guide/index.html#text=_mm_sfence) with C11 Atomics.
[code]

Of course, we have to check GCC versions for atomics support.

[2022-11-28 07:28] iamqk commented on #554
Thx a lot.
PS: _mm_sfence should be _mm_mfence?

[2022-11-28 07:33] jserv commented on #554
Corrected. They are semantically similar. I got confused earler.

[2022-11-28 21:03] jserv commented on #308
@Cuda-Chen, Please update the list of supported SSE4.2 text processing intrinsics.

[2022-11-29 01:31] Cuda-Chen commented on #308
currently supported SSE4.2 text processing intrinsics:
- PCMPESTR
  - _mm_cmpestri
  - _mm_cmpestrm
  - _mm_cmpestra
  - _mm_cmpestrc
  - _mm_cmpestro
  - _mm_cmpestrs
  - _mm_cmpestrz
- PCMPISTR
  - _mm_cmpistri
  - _mm_cmpistrm